<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://dev.azure.com/F-DC/Active-Active"/>
    <add key="url1" value="https://qa.azure.com/F-DC/Active-Active"/>
    <add key="url2" value="https://stage.azure.com/F-DC/Active-Active"/>
    <add key="username" value="adeo@galaxe.com" />
    <add key="password" value="R2FsYXh5QDg1Mg==" />
    <add key="email_username" value="TestProjectReporting@outlook.com" />
    <add key="email_password" value="Create_123@#" />
    <add key="email_To" value="adeo@galaxe.com,jdommaraju@galaxe.com,ukonda@galaxe.com,vkali@galaxe.com" />
    <add key="ReportLocation" value="D:\\Project\\Active-Active\\ExtentReports\\Report.html" />
    <add key="LogLocation" value="D:\\Project\\Active-Active\\TestLogs\\Logs.txt" />
    <add key="Specflow_report" value="D:\\Project\\Active-Active\\TestResults\\Locators.xml" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.vs1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.11.4.0" newVersion="106.11.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="TechTalk.SpecFlow" publicKeyToken="0778194805d6db41" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>